<!DOCTYPE html>
<html>
<head>
  <title>Movie Ratings</title>
</head>
<body>

  <div style="float:right;" align="right">
      {% if user.is_authenticated %}
      Logged in as {{user.username}} <br>
      <a href="{% url 'user_logout' %}">logout</a>
      {% else %}
    <a href="{% url 'user_login' %}">login</a> <br>
    <a href="{% url 'user_register' %}">register</a>
      {% endif %}
  </div>

  <h1>Movie Ratings</h1>
  {% if messages %}
      <ul class+"messages">
      {% for message in messages %}
      <li class="{{ messages.tags}}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  {% block content %}
  {% endblock %}


</body>
</html>
