{% load staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html>
<head>
  <title>Movie Ratings</title>
  {% bootstrap_css %}
  {% bootstrap_javascript jquery=True %}
  <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
</head>
<body>

  <div class="container">
       <div class="header clearfix">
         <nav class="navbar navbar-inverse navbar-fixed-top">
           <a class="navbar-brand" href="/">Movie Ratings</a>


           <ul class="nav nav-pills pull-right">
             {% if user.is_authenticated %}
             <li role="presentation"><a href="{% url 'profile_view' user.pk %}">{{user.username}}</a></li>
               <li role="presentation"><a href="{% url 'user_logout' %}">Logout</a></li>
               {% else %}
             <li role="presentation"><a href="{% url 'user_login' %}">Login</a></li>
             <li role="presentation"><a href="{% url 'user_register' %}">Register</a></li>
             {% endif %}
             <li role="presentation"><a href="/">Top Movies</a></li>
             <li role="presentation"><a href="{% url 'most_rated' %}">Most Rated</a></li>
           </ul>
         </nav>
         <h3 class="text-muted"><span aria-hidden="true"></span>Movie Ratings</h3>
       </div>





 <div class="container">
{% bootstrap_messages %}



  {% block content %}
  {% endblock %}


</div>

</body>
</html>
