{% extends "base.html" %}

{% block content %}

<h2>{{ movie.title }}</h2>

<h4> Movie ID: {{ movie.pk }} </h4>
<h4> Average rating: {{ movie.average_rating|floatformat }} out of 5</h4>

<br>
<a href="{% url 'new_rating' movie.pk %}">Rate this movie</a><br>
<a href="{% url 'remove_rating' movie.pk %}">Remove rating for this movie</a><br>

<br><br>

<ul>
{% for rating in movie.rating_set.all %}
  <li><a href="{% url 'rater_view' rating.rater.pk %}">{{ rating.rater }}</a>: {{ rating.stars }}</li>
{% endfor %}
</ul>

{% endblock %}
