{% extends "base.html" %}

{% block content %}

<h2>User: {{ rater.user.username }}</h2>
{% if user == rater.user %}
<h3>Rated Movies</h3>

<ul>
  {% for rating in movie_ratings %}
    <li><h5><a href="{% url 'movie_view' rating.movie.pk %}">{{ rating.movie }}</a></h5>
     Rating: {{ rating.stars }} Stars <br>
     Time stamp: {{rating.posted_at}} <br>
     User review: {{ rating.review }} <br>
     <small> <a href="{% url 'edit_rating' %}">Edit</a> |  <a href="{% url 'remove_rating' rating.movie.pk %}">Delete</a></small>
   </li><br>

  {% endfor %}
</ul>
{% endif %}

<h3>User Info</h3>

<dl>
  <dt>User ID#: {{ rater.pk }}</dt>
  <dt>Gender: {{ rater.gender }}</dt>
  <dt>Age Code: {{ rater.age }}</dt>
  <dt>Zip Code: {{ rater.zipcode }}</dt>
  <dt>Occupation Code: {{ rater.occupation }}</dt>
</dl>

{% endblock %}
